{% assign post = include.post %}
{% assign format = include.format | default:site.data.strings.date_formats.related_post | default:"%d %b %Y" %}

<li class="h4">
  <a href="{{ post.url | relative_url }}" class="flip-title"><span>{{ post.title }}</span></a>
  <time class="faded fine" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date:format }}</time>
</li>

<article class="project-card"> 
  <a href="{{ post.url | relative_url }}" 
  class="no-hover no-print-link flip-project" tabindex="-1">
    <div class="project-card-img aspect-ratio sixteen-nine flip-project-img"> 
      <img src="/assets/img/blog/pawel-czerwinski-848z7lbCjoo-unsplash.jpg" 
      srcset="/assets/img/blog/pawel-czerwinski-848z7lbCjoo-unsplash.jpg 1920w,/assets/img/blog/pawel-czerwinski-848z7lbCjoo-unsplash@0,5x.jpg 960w,/assets/img/blog/pawel-czerwinski-848z7lbCjoo-unsplash@0,25x.jpg 480w" 
      sizes="(min-width:86em)27.5rem,(min-width:54em)24.5rem,(min-width:42em)21.5rem,42rem" 
      alt="X Marks the Spot in Hydejack 9.2" width="864" height="486" loading="lazy" style="opacity: 0;">
    </div>
  </a>
  <h3 class="project-card-title flip-project-title"> 
    <a href="{{ post.url | relative_url }}" 
    class="flip-title">X Marks the Spot in Hydejack 9.2</a>
  </h3>
  <p class="project-card-text fine" property="disambiguatingDescription"> 
    This feature release adds new social media icons for 2024 and makes 
    dark mode available to everyone. 
    <a class="fill-card no-hover" 
    href="{{ post.url | relative_url }}" 
    tabindex="-1">
    <span class="sr-only">
      Continue reading X Marks the Spot in Hydejack 9.2
    </span>
    </a>
  </p>
</article>